*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
   width: 100%;
   background-color: hsl(233, 47%, 7%);
   margin:100px auto;
}
.container{
   display: flex;
   align-items: center;
   margin: 100px auto;
   width: 1000px;
   height: 390px;
}
.content2 img{
   max-width: 450px;
   height: 390px;
   display: block;
   position: relative;
   z-index: 0;
   border-radius: 0 12px 12px 0;
}
.content2::after {
   content: "";
   position: fixed;
   display: inline-block;
   top: 100px;
   width: 29.5%;
    height: 55%;
   border-radius: 0 12px 12px 0;
   background-color: hsla(277, 64%, 61%, 0.562); /* Rouge avec 50% de transparence */
   z-index: 1; /* Place derrière l'image */
 }
.content1{
   display: block;
   justify-content: center;
   padding: 45px;
   max-width: 480px;
   min-height: 350px;
   border: none;
   overflow: hidden;
   border-radius: 12px 0 0 12px;
   background-color: hsl(244, 38%, 16%);  
}
.content1 h1{
   color: hsl(0, 0%, 100%);
   font-size: 35px;
   margin-bottom: 25px;
}
span{
   color: hsl(277, 64%, 61%);
}
.content1 p{
   color: hsla(0, 0%, 100%, 0.616);
   line-height: 25px;
   font-weight: 300;
   font-size: 18px;
}
.abonnement{
   display: flex;
   align-items: center;
   justify-content: left;
   margin-top: 70px;
}
.content-abonnement{
   margin-right: 50px;
}
.content-abonnement h2{
   color: hsl(0, 0%, 100%);
}
.content-abonnement p{
   font-size: 10px;
   color: hsla(0, 0%, 100%, 0.75);
   font-weight: 400;
   margin-top: 3px;
   letter-spacing: 1px;
}